*{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: black;
}
html{
    background-color: #52796f;
}
.blur{
  pointer-events: none;
  animation: blurTime 1.0s forwards;
}
.blurRemove{
  animation: removeBlur 1.0s forwards;
}
@keyframes removeBlur {
  0% {filter: blur(20px);}
  100% {filter: blur(0px);}
}
@keyframes blurTime {
  0% {filter: blur(0px);}
  100% {filter: blur(20px);}
}
.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
  #popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    background: #fff;
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: 0.5s;
    z-index: 1000;
    backdrop-filter: blur(20px);
  
  }
  .popUpButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  .popUpButtons:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
  }
  
  .popUpButtons:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
  }
  .signInForm {
    position: fixed;
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: grey;
    padding: 40px;
    
  }
  
  #signInButton,
  input[id="signInValues"] {
    width : 500px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: block;
  }
  
  #signInTitle {
    padding-bottom: 30px;
  }
  .signUpForm {
    position: fixed;
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: grey;
    padding: 40px;
    
  }
  
  #registerButton,
  input[id="signUpValues"] {
    width : 500px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: block;
  }
  
  #signUpTitle {
    padding-bottom: 30px;
  }
  #runDetailPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #runName{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 1em;
  }
  #boxPokemonName{
    text-align: center;
    width: 20vw;
    text-align: center;
    transition: transform .6s ease-out,color .5s;
    margin-bottom: 1em;
  }
  #boxPokemonName:hover{
    transform: translateY(-4px);
    color: rgb(255, 243, 78) ;
    cursor: pointer;
  }
  .encounterArea{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .encounter{
    margin: 2em;
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);;
  }
  .pokemonsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pokemonContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    margin-right: 1.5em;

  }
  .pokemon{
    text-align: center;
  }
  .button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 7em;
    border-radius:40px;
    background: #fff;
    border: 2px solid rgb(4, 71, 4);;
    color:rgb(4, 71, 4);;
    letter-spacing:1px;
    text-shadow:0;
    font:15px bold;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-bottom: 10[x];
  }
  .button:hover {
      color:white;
      background: rgb(4, 71, 4);
  }
  .button:active {
      letter-spacing: 2px ;
    }
  .subTitle{
    font-size: 30px;
    margin-top: 40px;
    letter-spacing: .3px ;
    text-decoration: underline;
  }
  .trainerArea{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .trainerContainer{
    margin: 2em;
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);;
  }
  .trainerName{
    font-size: 20px;
  }
  .trainerTeam{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 10em;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .trainerNameLevel{
    display: flex;
    align-items: baseline;
  }
  .trainerPokemon{
    margin-right: 3em;
  }
  .pokemonLevel{
    position: relative;
    margin-left: 1em;
    font-size: 12px;
  }
  .pokemonMoves{
    margin-right: 2em;
  }
  select{
    width: 10vw;
    padding: 10px;
    font-size: 15px;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);;
  }
  option{
    width: 100%;
    text-overflow: clip;
  }
  #runTitle{
    text-align: center;
  }
  .runContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

  .runForm{
    padding-top: 30px;
    width: 10vw;
    height: 80vh;
    background-color:#cad2c5;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5),inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5);
  }
  #createForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  #createForm h2{
    margin-bottom: .5em;
  }
  #updateForm h2{
    margin-bottom: .5em ;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .runPage{
    width: 100%;
    height: 90%
  }
  #runInput{
    width:8vw;
    margin-bottom: 10px;
  }
  #runArea{
    width: 85vw;
    height: 100%;
    margin-left: 3em;
    display: flex;
    flex-wrap: wrap;

  }
  nav{
    display: flex;
    height: 4.5vh;
    background-color: #cad2c5;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);;
  }
  a{
    color: #000000;
    margin-left: 0.5em;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: transform .6s ease-out,color .3s;
  }
  a:hover{
    transform: translateY(-4px);
    color: rgb(255, 226, 64) ;
  }
  nav div{
    margin-left: 1em;
    margin-right: 2em;
  }
  .numbers{
    width: 8vw;
    margin-bottom: 8px;
  }
  #updateSelect{
    width: 8vw;
    padding: 0;
    margin-bottom: 10px;
  }
  .run{
    width: 13%;
    background-color: white;
    height: 16vh;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);;
    margin-bottom: 1em;
  }
  .knowledge{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }
  .knowledge h4{
    font-size: 1.2rem;
    margin-right: 9px;
  }
  .knowledge input{
    position: relative;
    margin-left: 5px;
    top: 2px
  }
  .runTitleArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .runTitleArea h2{
    margin-left: 9px;
  }
  .runTitleArea h2:hover{
    margin-left: 9px;
  }
  .checkArea{
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
  }
  .checkArea p{
    font-size: 17px;
    font-weight: 700;
  }
  .deleteRun{
    width: 40%;
    margin-bottom: 8px;
    margin-left: 8px;
    outline:none;
    text-align: center;
    border-radius:40px;
    background: #fff;
    border: 2px solid rgb(190, 14, 14);;
    color:rgb(190, 14, 14);;
    letter-spacing:1px;
    text-shadow:0;
    font:15px bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .deleteRun:hover {
      color:white;
      background: rgb(190, 14, 14);
  }
  .deleteRun:active {
      letter-spacing: 2px ;
    }
    #runTitle{
      font-size: 3.5em;
      margin-bottom: .2em;
      color: #FFFFFF;
    }
    .runName{
      transition: transform .6s ease-out,color .5s;
      font-size: 1.5vw;
      width: 100%;
    }
    .runName:hover{
      cursor: pointer;
      transform: translateY(-3px);
      color: rgb(94, 169, 255) ;
    }
    .gameContainer{
      display: flex;
      width:  100%;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    .gamesContainer{
      display: flex;
      width: 90%;

    }
    .game{
      display: flex;
      flex-direction: column;
      background-color: white;
      align-items: center;  
      border-radius: .5em;
      transition: transform .5s ,background-color .5s;
        }
    .game:hover{
      transform: translateY(-4px);
      background-color: #36395a;
      color:white
    }
    .game h3:hover{
      color:white
    }
    .game img{
      width: 100%;
      border-top-right-radius: .5em ;
      border-top-left-radius: .5em ;
    }
    .game h3{
      font-size: 25px;
    }
    #boxPage{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .boxPokemonArea{
      width: 100%;
      display: flex;
    }
    .boxPokemon{
      margin-top: 3em;
      margin-left: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      margin-right: 4em;
      height: 15vh;
      width: 8%;
      border-radius:  .5em;
      box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);;
    }
    .boxPokemon button{
      width: 80%;
      margin-right: .5em;
    }
    .socailComplete{
      margin-right: .3em;
    }
    .socailPage{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }
    .socailArea{
      width: 100%;
      display: flex;
      margin-top: 2em;
      margin-left: 5em;
      flex-wrap: wrap;

    }
  